.scroll::-webkit-scrollbar{
    background-color: #1f2a3d;
    border-radius: 10rem;
    width: 8px;
    height: 8px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #7296a7;
    border-radius: 10rem;
}